<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>HTML escaper</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/default.css">
</head>
<body>
	<form method="post">
		<div>
		<textarea class="textarea" name="input">{{input}}</textarea>
		<button type="submit" class="button">Escape!</button>
		<textarea class="textarea" name="output">{{output}}</textarea>
		</div>
	</form>
</body>
</html>